@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-weight: 700;
  src:
    url("./assets/fonts/dmsansbold.woff2") format("woff2"),
    url("./assets/fonts/dmsansbold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src:
    url("./assets/fonts/poppinsregular.woff2") format("woff2"),
    url("./assets/fonts/poppinsregular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 500;
  src:
    url("./assets/fonts/poppinsmedium.woff2") format("woff2"),
    url("./assets/fonts/poppinsmedium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src:
    url("./assets/fonts/poppinssemibold.woff2") format("woff2"),
    url("./assets/fonts/poppinssemibold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 700;
  src:
    url("./assets/fonts/poppinsbold.woff2") format("woff2"),
    url("./assets/fonts/poppinsbold.woff") format("woff");
}

.font-dmsans {
  font-family: "DM Sans";
  font-weight: 700;
}

body {
  background-color: #141416;
  font-family: "Poppins", "Arial", sans-serif;
}

.hero {
  background-image: url("./assets/images/hero.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.hero__list {
  background: linear-gradient(
    92.98deg,
    #23262f 3.54%,
    rgba(35, 38, 47, 0.7) 93.38%
  );
  box-shadow: 0px 40px 64px -32px #0f0f0f1a;
}

input[name="hero_types"]:checked + span::after {
  background-color: #fcfcfd;
}
input[name="hero_types"]:checked + span {
  color: #fcfcfd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.work__list {
  background-image: url("../src/assets/images/line.svg");
  background-repeat: no-repeat;
  background-position: center 62.5px;
}
