@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-weight: 700;
  src:
    url("./assets/fonts/dmsansbold.woff2") format("woff2"),
    url("./assets/fonts/dmsansbold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src:
    url("./assets/fonts/poppinsregular.woff2") format("woff2"),
    url("./assets/fonts/poppinsregular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 500;
  src:
    url("./assets/fonts/poppinsmedium.woff2") format("woff2"),
    url("./assets/fonts/poppinsmedium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src:
    url("./assets/fonts/poppinssemibold.woff2") format("woff2"),
    url("./assets/fonts/poppinssemibold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 700;
  src:
    url("./assets/fonts/poppinsbold.woff2") format("woff2"),
    url("./assets/fonts/poppinsbold.woff") format("woff");
}

.font-dmsans {
  font-family: "DM Sans";
  font-weight: 700;
}

body {
  background-color: #141416;
  font-family: "Poppins", "Arial", sans-serif;
}
